body {
    background-color:#040061;
    color: white;
    font-family: Tahoma;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
button {
    background-color: transparent;
    color: white;
    cursor:pointer;
    font-size: 25px;
    padding: 10px 15px;
    margin: 10px;
    border-color: white;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-count {
    margin:20px;
}

.actions-wrapper span {
    font-size: 50px;
    margin: 0 10px;
    width: 50px;
}
.clock-container {
    border: 2px solid white;
    border-radius: 15px;
    display: inline-block;
    padding: 10px ;
    margin-top: 30px;
    width: 300px;
    
}
.clock-container h1 {
    margin: 0;
}
.clock-container span {
    font-size: 60px;
}